<% include partials/header %>

<h1>Welcome to Freecodecamp Melbourne Directory</h1>

<div class="flex flex-wrap">

<% if(members) { %>

  <% for (m in members) { %>
    <div class="member-card-container col-md-3 col-sm-6">
      <div class="thumbnail text-center">
        <img src="<%= members[m].picture %>" />
        <h3><%= members[m].name %> <%= members[m].surname %></h3>
        <div class="caption">
          <p><%= members[m].bio %></p>
          
          <h4>Tech I'm working with</h4>
          <ul>
            <% for(tech in members[m].stack) { %>
              <li><%= members[m].stack[tech] %></li>
            <% } %>
          </ul>

          <h4>My most recent Freecodecamp project:</h4>
          <p><%= members[m].fcc_recent %></p>

          <h4>My Forum Summary</h4>
          <p><%= members[m].fcc_forum_stats %></p>

          <h4>Get hold of me via:</h4>
          <a class="btn btn-primary" class="btn btn-primary" href="mailto://<%= members[m].email %>">Email</a>
          <a class="btn btn-primary" href="mailto://<%= members[m].socials.fcc %>">FCC</a>

          <% if(members[m].socials.twitter) { %>
            <a class="btn btn-primary" href="<%= members[m].socials.twitter %>" target="_blank">Twitter</a>
          <% }  %>

          <% if(members[m].socials.github) { %>
            <a class="btn btn-primary" href="<%= members[m].socials.github %>" target="_blank">Github</a>
          <% } else { %>
            <p>I need to <a class="btn btn-primary" href="https://github.com/join" target="_blank">get github!</a></p>
          <% } %>


          <% if(members[m].meetup.attended > 0 ) { %>
            <p>Meetups attended: <span><%= members[m].meetup.attended %></span></p>
            <p>Last seen: <span><%= members[m].meetup.last_seen %></span></p>
          <% } %>
        
        </div>
      </div>
    </div> <!-- /member-card-container -->
  <% } %>
<% } %>

</div>

<% include partials/footer %>



